<style>

  .container {
   padding-bottom: 10px;
   background-color: white;
   border-style: outset;
   width:40%;
   }

  .button {
    padding: 10px 45px;
    cursor: pointer;
    text-align: center;
    color:#fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 45px;
    box-shadow: 0 9px #999;   
    width:33%;
  }

  .bolded {
    font-size: 34px;
    font-weight: bold;
  }

</style>
<center>

<% provide(:title, 'Registration') %>
<div class="row container">
  <div class="is-centered">
      <p class="bolded">Sign up</p>
    <%= form_for @user do |f|%>
      <% if @user.errors.any? %>
        <div class="alert alert-danger"> 
          <ul>
            <% @user.errors.full_messages.each do |m|%>
              <li><%= m %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "username", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "name", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.text_field :surname, placeholder: "surname", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "password", class: "form-control"%>
      </div>

      <%=f.label :teacher do%>
        <%= f.check_box :is_teacher, class: "form-control"%>
        I am a teacher
      <%end%>
        <div >
      <!--<%= f.submit :submit, class: "btn btn-default button" %>-->
      <%= f.submit "Submit", class: "btn btn-default button" %>
    <% end %><div><br>
  </div>
</div>
</center>