<h1>Hello <%=current_user.username%></h1>
<%=get_user_location.full_address%>
<%if current_user.is_teacher%>
teacher
<%else%>
check attendance
<%= form_for(:location, remote: true) do |f|%>
	<%= f.hidden_field :location, value: get_user_location%>
	<%= f.submit "Check my attendance"%>
		
<%end%>
<%end%>